footer {
  background-color: var(--bs-purple);
  color: #eee;
  margin-top: 10rem;
}

footer h4 {
  font-family: 'sranger';
}

footer p {
  font-size: 14px;
}


/* Responsive Breakpoint */
/* === Tablet === */
@media screen and (max-width: 992px) {
  footer {
    margin-top: 5rem;
  }
}